:root {
  font-family: Inter, system-ui, sans-serif;
  color: #222;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

button {
  cursor: pointer;
  font: inherit;
}

input,
textarea {
  font: inherit;
}
